.bundle/
.byebug_history
.idea/
.vscode
log/*.log
pkg/

Gemfile.lock
gemfiles/*.gemfile.lock

spec/dummy/.sass-cache
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/examples.txt
